summons-service/src/main/resources/META-INF/wsdl/summons-service.wsdl

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<wsdl:definitions
	xmlns="http://vksn.io/summons/summonsService/"
	targetNamespace="http://vksn.io/summons/summonsService/"
	xmlns:tns="http://vksn.io/summons/summonsService/"
	xmlns:serviceModel="http://vksn.io/summons/summonsService/model/"
	xmlns:model="http://vksn.io/summons/entity/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://vksn.io/summons/summonsService/model/"
				schemaLocation="summons-service-model.xsd" />
			
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="listInvitations">
		<wsdl:part element="serviceModel:listInvitations" name="listInvitations" />
	</wsdl:message>
	<wsdl:message name="listInvitationsResponse">
		<wsdl:part element="serviceModel:listInvitationsResponse"
			name="listInvitationsResponse" />
	</wsdl:message>
	
	<wsdl:message name="participate">
		<wsdl:part element="serviceModel:participate" name="participate" />
	</wsdl:message>
	<wsdl:message name="participateResponse">
		<wsdl:part element="serviceModel:participateResponse"
			name="participateResponse" />
	</wsdl:message>

	<wsdl:message name="listEvents">
		<wsdl:part element="serviceModel:listEvents" name="listEvents" />
	</wsdl:message>
	<wsdl:message name="listEventsResponse">
		<wsdl:part element="serviceModel:listEventsResponse" name="listEventsResponse" />
	</wsdl:message>

	<wsdl:message name="createEvent">
		<wsdl:part element="serviceModel:createEvent" name="createEvent" />
	</wsdl:message>
	<wsdl:message name="createEventResponse">
		<wsdl:part element="serviceModel:createEventResponse" name="createEventResponse" />
	</wsdl:message>

	<wsdl:message name="fetchEvent">
		<wsdl:part element="serviceModel:fetchEvent" name="fetchEvent" />
	</wsdl:message>
	<wsdl:message name="fetchEventResponse">
		<wsdl:part element="serviceModel:fetchEventResponse" name="fetchEventResponse" />
	</wsdl:message>
	
	<wsdl:message name="login">
		<wsdl:part element="serviceModel:login" name="login"/>
	</wsdl:message>
	<wsdl:message name="loginResponse">
		<wsdl:part element="serviceModel:loginResponse" name="loginResponse"/>
	</wsdl:message>

	<wsdl:message name="getSessionStartTime">
		<wsdl:part element="serviceModel:getSessionStartTime" name="getSessionStartTime" />
	</wsdl:message>
	<wsdl:message name="getSessionStartTimeResponse">
		<wsdl:part element="serviceModel:getSessionStartTimeResponse"
			name="getSessionStartTimeResponse" />
	</wsdl:message>

	<wsdl:binding name="SummonsServiceSOAPBinding" type="SummonsServiceWS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="listInvitations">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createEvent">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="fetchEvent">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="listEvents">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSessionStartTime">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="login">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="participate">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:portType name="SummonsServiceWS">
		<jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
			<jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
		</jaxws:bindings>
		<wsdl:operation name="listInvitations">
			<wsdl:input message="listInvitations" />
			<wsdl:output message="listInvitationsResponse" />
		</wsdl:operation>
		<wsdl:operation name="participate">
			<wsdl:input message="participate" />
			<wsdl:output message="participateResponse" />
		</wsdl:operation>
		<wsdl:operation name="listEvents">
			<wsdl:input message="listEvents" />
			<wsdl:output message="listEventsResponse" />
		</wsdl:operation>
		<wsdl:operation name="createEvent">
			<wsdl:input message="createEvent" />
			<wsdl:output message="createEventResponse" />
		</wsdl:operation>
		<wsdl:operation name="fetchEvent">
			<wsdl:input message="fetchEvent" />
			<wsdl:output message="fetchEventResponse" />
		</wsdl:operation>
		<wsdl:operation name="login">
			<wsdl:input message="login" />
			<wsdl:output message="loginResponse" />
		</wsdl:operation>
		<wsdl:operation name="getSessionStartTime">
			<wsdl:input message="getSessionStartTime" />
			<wsdl:output message="getSessionStartTimeResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:service name="SummonsService">
		<wsdl:port binding="SummonsServiceSOAPBinding" name="SummonsService">
			<soap:address location="http://localhost:9080/summons-service/SummonsService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
