summons-service/src/main/resources/META-INF/wsdl/summons-model.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://vksn.io/summons/entity/" targetNamespace="http://vksn.io/summons/entity/">

	<xs:element name="Person" type="tns:Person" />
	<xs:complexType name="Person">
		<xs:sequence>
			<xs:element name="id" type="xs:long" />
			<xs:element name="participate" type="tns:Participate" default="NOT_RESPONSED" />
			<xs:element name="contactInfo" type="tns:ContactInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="firstName" type="xs:string" />
			<xs:element name="lastName" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="ContactInformation" type="tns:ContactInformation"/>
	<xs:complexType name="ContactInformation">
		<xs:sequence>
			<xs:element name="id" type="xs:long" />
			<xs:element name="type" type="xs:string" />
			<xs:element name="contactInfo" type="xs:string" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="Participate" type="tns:Participate" />
	<xs:simpleType name="Participate">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PARTICIPATES" />
			<xs:enumeration value="WONT_PARTICIPATE" />
			<xs:enumeration value="NOT_RESPONSED" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="gender">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MALE" />
			<xs:enumeration value="FEMALE" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="invitation" type="tns:Invitation" />
	<xs:complexType name="Invitation">
		<xs:sequence>
			<xs:element name="id" type="xs:long" />
			<xs:element name="token">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="8" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="coverLetter" type="tns:CoverLetter"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="persons" type="tns:Person" minOccurs="1"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="CoverLetter" type="tns:CoverLetter" />
	<xs:complexType name="CoverLetter">
		<xs:sequence>
			<xs:element name="id" type="xs:long" />
			<xs:element name="content" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="Event" type="tns:Event" />
	<xs:complexType name="Event">
		<xs:sequence>
			<xs:element name="sign" type="xs:string" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="date" type="xs:date" />
			<xs:element name="choosedPlace" type="tns:Place"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="suggestedPlaces" type="tns:Place"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="invitations" type="tns:Invitation"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="Place" type="tns:Place" />
	<xs:complexType name="Place">
		<xs:sequence>
			<xs:element name="id" type="xs:long" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="address" type="tns:Address" />
			<xs:element name="drivingInstructions" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="Address" type="tns:Address" />
	<xs:complexType name="Address">
		<xs:sequence>
			<xs:element name="id" type="xs:long" />
			<xs:element name="street" type="xs:string" />
			<xs:element name="city" type="xs:string" />
			<xs:element name="altitude" type="xs:string" />
			<xs:element name="longitude" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>